
header, footer {
    padding: 1em;
    color: #1e30d6;
    background-color: #ff6600;
    clear: left;
    text-align: center;
}
.left {
  position: relative;
  left: 0px;
}
}
#nature {
  vertical-align: text-baseline;
}

h2 {
  text-align: center; 
}

ul {
  text-align: center;
  color: #33ccff;
}
#nav {
  width: 100%;
  float: left;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none; 
}
img {
  float: right;
  margin: 0 0 10px 10px;
}
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
body {
  background-image: url("brady-bellini-191086"), url("brady-bellini-191086");
  background-color: #ffad33;
} 
}


